## Pandas

## Library to work with table data

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\diksha\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\diksha\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\diksha\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\diksha\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\diksha\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\diksha\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

## SERIES

In [2]:
li = ['karunesh', 'kanu', 'aaaaa']

In [3]:
import numpy as np
import pandas as pd

In [7]:
a = pd.Series(li)

In [8]:
a

0    karunesh
1        kanu
2       aaaaa
dtype: object

In [9]:
b = pd.Series(li, index=["A", "B", "C"], name="name")

In [10]:
b

A    karunesh
B        kanu
C       aaaaa
Name: name, dtype: object

In [18]:
c = pd.Series(["math", 'science', 'english'], index=["A", "B", "C"], name="Subjects")

In [19]:
c

A       math
B    science
C    english
Name: Subjects, dtype: object

In [16]:
c["A"]

'math'

In [17]:
c["B"]

'science'

In [22]:
C1 = pd.Series(["math", 'science', 'english'], index=["A B C".split()], name="Subjects")

In [23]:
C1

A       math
B    science
C    english
Name: Subjects, dtype: object

## SERIES WITH DICTIONARY

In [24]:
d = {"city": ["delhi", 'chd', 'agra']}

In [25]:
pd.Series(d["city"], name="city")

0    delhi
1      chd
2     agra
Name: city, dtype: object

In [26]:
b

A    karunesh
B        kanu
C       aaaaa
Name: name, dtype: object

In [27]:
e = pd.Series([2,5,8], index=["A B C".split()], name="marks")

In [28]:
e

A    2
B    5
C    8
Name: marks, dtype: int64

In [29]:
e = pd.Series([2.5,5.3,8.2], index=["A B C".split()], name="inputs")

In [30]:
e

A    2.5
B    5.3
C    8.2
Name: inputs, dtype: float64

In [ ]:
g = pd.Series([True, False], index)